.config_box
    padding: 30px 5px
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    box-shadow: $shadow

    .link
        padding: 8px 25px
        text-transform: uppercase
        color: white
        background: linear-gradient(113.55deg, #D64045 0%, #820101 120.72%),linear-gradient(0deg, #FFFFFF, #FFFFFF)
        border-radius: 5px
        font-weight: bold
        cursor: pointer

        &:hover
            color: lighten($primary, 10)

    img
        width: 120px
        height: 100px

    p
        font-size: 20px
        font-weight: bold
        color: black
        text-align: center
        margin: 1rem 0

    @media screen and ( min-width: 1240px  )
        padding: 20px 5px

        p
            font-size: 20px

    @media screen and ( min-width: 1500px  )
        padding: 40px 5px

        p
            font-size: 20px