.upper_bar
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
    padding: 0 30px
    background-color: red

    &_right
        display: flex
        align-items: center
        height: 100%

    &_logo
        padding-right: 15px
        width: 50px
        
    &_menu
        font-size: 30px

    
    