.add_representatives_box
    max-height: 600px!important

    & img
        width: 250px
        margin-bottom: 15px

    & .MuiFormControl-root
        margin: 20px 0

    & .MuiInputBase-input
        height: 0.9em

    .button_container
        margin-top: 30px
