.add_student_box
    background-color: $background-box
    display: flex
    flex-direction: column
    align-items: center
    box-shadow: $shadow
    border-radius: $bradius
    text-align: center
    width: 700px

    .add_student_form
        padding: 40px 0