.incomepayment_box
    width: 700px

    &.box
        padding: 0

    .incomepayment    
        padding: 40px
        
        &_title
            font: $title
            color: $title-color

        &_subtitle
            font: $subtitle
            color: $subtitle-color
