.joinstudent_box
    padding: 0!important
    width: 700px

    .joinstudents
        width: 100%
        padding: 40px

        &_title
            font: $title
            color: $title-color

        &_subtitle
            font: $subtitle
            color: $subtitle-color