.purchase_box
    width: 700px
    padding: 0!important

    .purchase
        width: 100%
        padding: 30px 40px

        &_title
            font: $title
            color: $title-color

    .purchase_boxes
        padding: 25px
        width: 100%
        height: 250px
        overflow: auto
        display: grid
        grid-gap: 30px
        grid-template-columns: repeat(2, 1fr)
        grid-auto-rows: min-content

    .product_box
        position: relative
        padding: 10px
        box-shadow: $shadow
        border-radius: $bradius
        display: flex
        justify-content: flex-start
        align-items: start
        background-color: #fff

        .mandatory_check
            display: none

        &.mandatory .mandatory_check
            display: block
            width: 25px
            height: 25px
            position: absolute
            top: -10px
            right: -10px
            background-color: #fff
            padding: 5px
            font-size: 1.4rem
            font-weight: bold
            color: $primary
            border: none
            border-radius: 50%
            box-shadow: $shadow
            text-align: center
            line-height: 25px

        svg 
            width: 60px
            height: auto
            margin-right: 15px
            padding: 10px
            border-radius: $bradius
            background-color: $primary-light
            color: #ffffff
            box-shadow: $shadow
            

        &_desc
            text-align: left
            color: $primary
            font-size: 1.1rem

            p:nth-child(2) 
                font-weight: bold

        &_counter
            position: absolute
            bottom: -10px
            right: -20px
            color: $title-color

            button
                width: 30px
                height: 30px
                padding: 5px
                margin: 2px
                font-weight: bold
                font-size: 1.5rem
                background-color: #fff
                border: none
                border-radius: 50%
                box-shadow: $shadow
                color: $title-color
                cursor: pointer
                line-height: 10px
                transition: .5s ease-out
                outline: none

                &:hover
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)


            .number
                display: inline-block
                width: 55px
                height: 30px
                padding: 5px
                font-weight: bold
                font-size: 1.2rem
                background-color: #fff
                border: none
                border-radius: $bradius
                box-shadow: $shadow
