.sweet-form

    .form-group-dni
        display: flex
        justify-content: space-between
        align-items: center
        margin: 25px 0

    label
        display: flex
        flex-direction: column
        font-family: Roboto
        font-size: 1rem
        color: $primary-light
        white-space: nowrap

    [type="text"], [type="password"]
        color: #000000

    .center [type="input"]
        text-align: center
      
    .button
        
        &.button-large
            margin: 0
            width: 100%!important

        &-cancel
            background-color: $primary
            border: 1px solid $primary
            &:hover
                background-color: $primary-dark

        &-accept
            background-color: $primary
            // border: 1px solid $primarys

            // &:hover
            //     background-color: $primary-dark

            &:disabled
                background-color: rgb(255, 195, 195)
                border: 1px solid rgb(255, 195, 195)
                cursor: auto

            &:focus
                background-color: $primary-dark

    .button_container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%

        .button
            // width: 48%

