.sweet-form

    label
        display: flex
        flex-direction: column
        font-family: Roboto
        color: $primary-light

        [type="input"],
        [type="password"]
            padding: 8px
            margin: 20px 0
            border: none;
            border-bottom: 2px solid $primary-light
            outline: none
            color: $primary-light
            font-size: 1rem
            font-family: Roboto

        .center
            text-align: center

        
    .button
        color: #fff
        border-radius: .25em
        outline: none
        padding: .625em 2em
        font-size: 1rem
        cursor: pointer

        &.button-large
            margin: 0
            width: 100%


        &-cancel
            background-color: $primary
            border: 1px solid $primary
            &:hover
                background-color: $primary-dark

        &-accept
            margin-right: 10px
            background-color: $primary
            border: 1px solid $primary

            &:hover
                background-color: $primary-dark

            &:disabled
                background-color: rgb(255, 195, 195)
                border: 1px solid rgb(255, 195, 195)
                cursor: auto

            &:focus
                background-color: $primary-dark