.main_panel
    display: flex
    height: 93vh

    .menu
        width: 5%
        min-width: 65px
        @media only screen and (max-width: 100px)
            min-width: 55px

    .content
        width: 95%

        &.full_screen
            width: 100%

        &.content_center
            display: flex
            justify-content: center
            align-items: center
