.main_panel
    display: flex
    height: 93vh

    .menu
        width: 5%
        min-width: 65px
        @media only screen and (max-width: 1000px)
            min-width: 55px      


    .content
        width: 90%

        &.full_screen
            width: 100%
