@import ./_variables
@import ./_layout
@import ./components/_scroll
@import ./components/_portal
@import ./components/_sweet-form
@import ./router/_router
@import ./components/Login/_login
@import ./components/dashboard/_dashboard
@import ./components/config/_config
@import ./components/grades/_grades
@import ./components/products/_products
@import ./components/_data-table
@import ./components/join/_join
@import ./components/valuePair/_valuepair
@import ./components/income/_income

*
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none

body
  background-color: $background
  font-family: 'Roboto'

.container
  width: 95%
  margin: 0 auto

.content-screen
  padding: 40px

.box
  padding: 40px 50px
  background-color: $background-box
  display: flex
  flex-direction: column
  align-items: center
  box-shadow: $shadow
  border-radius: $bradius
  max-height: 500px
  text-align: center

.box_title
  font: $title
  color: $title-color

.box_title_small
  font: $subtitle
  color: $subtitle-color
  font-size: 1rem

.box_subtitle
  font-size: 16px
  color: $title-color

  & span
    color: $primary-light

.btn
  position: relative
  display: inline-flex
  border-radius: 5px
  overflow: hidden
  transition: all .4s
  width: 48%
  text-align: center
  z-index: 0

  &:hover
    transform: scale(1.02)
    
    & .inner
      left: 0;

  & .inner
    position: absolute
    width: 300%
    height: 100%
    left: -100%
    z-index: 1
    transition: all .4s
    background: -webkit-linear-gradient(right, $primary-dark,$primary-light,$primary-dark,$primary-light)

    &:hover
      left: 0

.button
  height: 100%
  width: 100%
  padding: 10px 10px
  text-transform: uppercase
  color: white
  background: none
  border-radius: 5px
  font-weight: bold
  font-size: 16px
  font-family: Roboto
  cursor: pointer
  border: none
  z-index: 1
  transition: all .4s

  &:disabled
    background: none
    background-color: rgb(255, 195, 195)
    cursor: auto

    &:hover
      color: #fff

.button-large
  margin: 0
  width: 100%!important

  &:disabled
    background: none
    background-color: rgb(255, 195, 195)
    border: 1px solid rgb(255, 195, 195)
    cursor: auto

    &:hover
      color: #fff

// SweetAlert classes

.title-class,
.content-class
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

.icon-class
  color: red

// Loader classes

.loader-container
  position: absolute
  top: 0
  width: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: $primary
  background-color: #fff
  font-weight: bold

.loader
  color: #c02f33
  font-size: 90px
  text-indent: -9999em
  overflow: hidden
  width: 1em
  height: 1em
  border-radius: 50%
  margin: 72px auto
  position: relative
  -webkit-transform: translateZ(0)
  -ms-transform: translateZ(0)
  transform: translateZ(0)
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease
  animation: load6 1.7s infinite ease, round 1.7s infinite ease

@-webkit-keyframes load6
  0% 
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  5%,
  95% 
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  10%,
  59% 
  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em

  20% 
  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em

  38% 
  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em

  100% 
  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

@keyframes load6
  0%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  5%,
  95%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

  10%,
  59%
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em

  20%
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em

  38%
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em

  100%
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em

@-webkit-keyframes round
  0% 
  -webkit-transform: rotate(0deg)
  transform: rotate(0deg)

  100% 
  -webkit-transform: rotate(360deg)
  transform: rotate(360deg)

@keyframes round
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
