.gradesBox
    width: 680px
    height: 550px
    padding: 30px 25px
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    box-shadow: $shadow
    
.form_group
    display: flex
    align-items: center
    margin-bottom: 40px


