.box
    padding: 30px 25px
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    box-shadow: $shadow

    h1
        margin-bottom: 15px
        font-size: 28px

    h2
        font-size: 18px
        font-weight: 400

    .table
        margin-top: 25px

    .button
        align-self: flex-end
        margin-top: 40px