.gradesBox
    min-width: 640px
    min-height: 500px
    justify-content: space-between
    
    h1
        margin-bottom: 25px

    .btn
        align-self: flex-end
        margin-top: 25px
        width: 30%

.grade-form
    width: 350px